@import "../../App.scss";
.services {
  width: 100vw;
  height: 100vh;
  padding: 0 8rem;
  display: grid;
  row-gap: 40px;
  overflow-x: hidden;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  &-title-div {
    width: 100%;
    display: grid;
    align-items: end;
    justify-content: end;
    margin-left: 75px;
  }
  &-box1 {
    justify-self: center;
  }

  // &-box:hover{
  //     transform: scale(1.05);
  // }
  &-box2 {
    justify-self: end;
  }
  // &-box2:hover{
  //     transform: scale(1.05);
  // }
  &-box3 {
    justify-self: center;
    margin-top: 30px;
  }
  // &-box3:hover{
  //     transform: scale(1.05);
  // }
  .bgimg{
      position: absolute;
      top: 120vh;
      left: 0;
  }
}
