@import '../../Variables';
.projects{
    height: 85vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 1fr 1.5fr;
    justify-content: center;
    
    &-title{
        display: grid;
        padding: 5rem 0;
        justify-content: center;
        h1{
            justify-self: center;
            color: $textcolor;
            font-size: 45px;
            font-family: $mainfont;
            font-weight: 400;
        }
        p{
            font-weight: lighter;
            align-self: center;
            width: 600px;
            color: $blackfont;
            text-align: center;
        }
    }
    &-items{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 100vw;
        justify-items: center;
        align-items: center;
        padding: 0 20%;
        .img{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
        .img1{
            padding-left: 300px; 
        }
    }
    .bg-img{
        position: absolute;
        top: 410vh;
        left: -100px;
    }
}