// __________@import Links__________________________________________________

@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');


// __________variables__________________________________________________

$maincolor: #ffc101;
$backgroundcolor: rgb(255, 255, 255);
$textcolor: #202a52;
$whitefont: rgb(255, 255, 255);
$blackfont: #000;
$shadow:rgba(0, 0, 0, 0.12);
$paragraphfont:'Roboto', sans-serif;
$mainfont: "Abril Fatface", cursive;
