// __________@import Links__________________________________________________

@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');


// __________variables__________________________________________________

$maincolor: #ffc101;
$backgroundcolor: #ffff;
$textcolor: #202a52;
$whitefont: #ffff;
$blackfont: #000;
$paragraphfont:'Roboto', sans-serif;
$mainfont: "Abril Fatface", cursive;
